<?xml version="1.0"?>
<model>
  <name>3DR Iris w/ ray</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_virtual_ray.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler and ZP Yang</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
