<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multipath_sim)/worlds/multipath.world" /> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="verbose" value="true" />
    <arg name="paused" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />
    <arg name="server_required" value="true"/>
    <arg name="gui_required" value="true"/>
  </include>
  <node pkg="multipath_sim" name="set_model_state" type="set_model_state.py" output="screen"/>
</launch>